doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Search Page
    link(rel='stylesheet', href='/css/style.css')
  body
    a(href='/') Home
    a(href='/popular') Popular pages

    #SearchForm
        form(action='/searchPages', method='get')
            input(type='text', name='query', placeholder='Search...')
            input(type='submit', value='Search')
    #outputContainer
      if error
        p.error= error
      else 
        each a in topdawg 
          a(href=a.url target="_blank")
            #container(style="display: flex;justify-content: space-between;")
              p Title: #{a.title} 
              p Score: #{a.score}  
              p Link: #{a.url}
              br